.songColumn {
    display: flex;
    margin-left: 20px;
    padding: 10px 20px 10px 20px;
    z-index: 100;
    color: #FFFFFF;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}


.songTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.songColumn:hover {
    cursor: pointer;
    background-color: hsla(0,0%,100%,.1);
}

.songTitle__info {
    margin-left: 20px;
}

.songTitle__info > h1 {
    font-size: 16px;
}

.songTitle__info > p {
    font-size: 14px;
    margin-top: 3px;
    color: #A1A1A1;
}

.songTitle__album {
    height: 40px;
    width: 40px;
}

.trackAlbum > p {
    font-size: 14px;
    color: #A1A1A1;
}

.trackDuration > p {
    font-size: 14px;
    color: #A1A1A1;
}
